# shellcheck shell=bash

# This file is tracked by git. Store secrets in .env, not here.

# .envrc file of direnv.
# If you use vsode, pleaes use the `direnv` extension.

# Load variables from .env
dotenv_if_exists
